@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    height: 100%;
    background-color: antiquewhite;
    margin: 10px;
    font-family: Roboto;
}
#sharp {
    font-size: 200%;
    color: #8a2be2;
    text-align: center;
    text-shadow: 0px 0px 2px #8a2be2;
}
#head {
    height: 30px;
    margin-bottom: 15px;
    border: none 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #7a17d7, rgba(132, 0, 255, 0.388));
}
#main {
    font-size: 120%;
    width: 75%;
    float: left;
    border-left: 7px none;
    border-radius: 10px;
    background-color: #6819b240;
    background-image: linear-gradient(to right, #892be2, #6819b200);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
#tables {
    width: 24%;
    float: right;
}

@media (max-width: 850px) {
    #page1 {
        display: flex;
        flex-direction: column;
      }
      #main{
        font-size: 95%;
      }
      #main, #tables {
        width: 100%;
      }
      #sharp{
        font-size: 150%;
      }
}
table {
    width: 100%;
    border: 2px solid #8a2be2;
    border-radius: 7px;
    margin-bottom: 20px;
}
thead {
    font-size: 150%;
    background-image: linear-gradient(to right, #6819b238, #892be272);
}
tr:nth-child(even) {
    background-image: linear-gradient(to right, #6819b238, #892be272);
}
.merp1{
    width: 50%;
}
