@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap');

body {
    height: 100%;
    background-color: antiquewhite;
    margin: 10px;
    font-family: Roboto;
}
#sharp {
    font-size: 200%;
    color: #ffffff;
    text-align: center;
    text-shadow: 
        0px 0px 3px #8a2be2,
        -5px 5px 7px rgb(136, 19, 232),
        -7px 7px 12px rgba(136, 19, 232, 0.398),
        -5px 5px 12px rgba(125, 23, 208, 0.523);

}
#head{
    border: none 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #7a17d7, rgba(132, 0, 255, 0.388));
    height: 30px;
    margin-bottom: 20px;
}

#main {
    font-size: 120%;
    width: 75%;
    float: left;
    border-left: 7px none;
    border-radius: 10px;
    background-color: #6819b240;
    background-image: linear-gradient(to right, #b365fc, #dcb6ff42);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
#tables {
    width: 24%;
    float: right;
}
.specs{
    width: max-content;
    font-size: 110%;
}

@media (max-width: 950px) {
    #head2 {
        width: 100%;
    }
    #page1 {
        display: flex;
        flex-direction: column;
    }
    #main, #tables {
        width: 100%;
    }
    #sharp{
        font-size: 150%;
    }
    .merp1{
        width: 50%;
    }
}

table {
    width: 100%;
    border: 2px solid #8a2be2;
    border-radius: 7px;
    margin-bottom: 20px;
}
thead {
    font-size: 150%;
    background-image: linear-gradient(to right, #6819b238, #892be272);
}
tr:nth-child(even) {
    background-image: linear-gradient(to right, #6819b238, #892be272);
}
.merp1{
    width: 25%;
}
